
*{
    padding: 0;
    margin: 0;
}
.parenttem{
    display: flex;
    justify-content: center;

}
.parenttem .tem{
    text-align: center;
    margin: 10px;
    width: 50%;

}
.tem img {

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.section2{
    text-align: center;
}

.section3{
    width: 1000px;
    text-align: center;
}
.phonebook{

    width: 1000px;
    text-align: center;
    
}